{% extends 'base.html' %}

{% block body %}

<form method="POST" enctype="multipart/form-data" class="text-center" style="padding-top:50px">
    {% csrf_token %}
    <input type="text" name="name" placeholder="enter the name"> <br>
    <input type="text" name="desc" placeholder="Enter the details"><br>
    <input type="number"placeholder="Enter year " name="year"><br>
    <input type="file" name="img"><br>
    <input class="btn btn-success" type="submit">
    <a  class="btn btn-primary" href="{% url 'webapp:main' %}">Home</a>
</form>

{% endblock %}